@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.ttf')
}

:root {
  --ff-logo: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  color: blue;
}

h1, h2, h3, h4, p {
  font-family: var(--ff-logo);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 3px;
}

p, a {
  margin-bottom: 0.15em;
  line-height: .8;
}

a {
  color: aqua;
  text-decoration: none;
}

a:hover {
  color: blue;
}

/* navbar styling */

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navbar a {
  padding: 8px 8px 8px 32px;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}



.navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
}

/* Hide and Show sections */

#myHome {
  display: block;
}

#myExperience {
  display: none;
}

#myProjects {
  display: none;
}

#myReferences {
  display: none;
}

#myAbout {
  display: none;
}

#myContact {
  display: none;
}

/* footer */

.footer {
  height: 8%;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  justify-items: center;
  grid-row: end;
}

.footer p {
  color: aqua;
  text-align: center;
}
