@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.ttf')
}

:root {
  --ff-logo: 'Montserrat', sans-serif;
  --color-headers: blue;
  --color-background: #111;
  --color-nav-link: aqua;
  --color-text: white;
}

/* General Formatting */

body {
  background: var(--color-background);
}

h1, h2, h3, h4 {
  color: var(--color-headers);
}

h1, h2, h3, h4, p, a {
  font-family: var(--ff-logo);
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: .8rem;
}

p, a {
  /* margin-bottom: 0.15em; */
  /* line-height: .8; */
  color: var(--color-text);
}

a {
  color: var(--color-nav-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-headers);
}

.text-center {
  text-align: center;
}

#main {
  margin-left: 150px;
  margin-right: 150px;
  transition: margin-left .5s;
  padding: 20px;
}

/* navbar styling */

.open-nav-shade {
  background-color: var(--color-headers);
}

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;
}

/* .navbar a {
  padding: 8px 8px 8px 20px;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
} */

.navItem {
  padding: 8px 8px 8px 20px;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

.closebtn {
  position: absolute;
  top: 8px;
  right: 0px;
  margin-left: 30px;
}

/* @media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
} */

.icon {
  display: none;
  position: fixed;
  z-index: 2;
  /* top: 0; */
  margin-top: 10px;
  margin-left: 20px;
  /* float: left; */
  font-size: 30px;
  padding: 8px 0px 5px 15px;
  width: 40px;
  height: 40px;
  border: 1px;
  border-radius: 2px;
  border-style: solid;
}

/* .responsiveNav {
  margin-top: 60px;
} */

@media screen and (max-width: 600px) {
  /* .navbar a { 
    display: none; 
  } */
  /* .navItem {
    display: none; 
  } */

  .navbar {
    transition: 0s;
  }
  
  .closebtn {
    display: none;
  }
  .open-nav-shade {
    display: none;
  }
  .icon {
    display: block;
  }
}

/* Hide and Show sections */

#myHome {
  display: block;
}

#myExperience {
  display: none;
}

#myProjects {
  display: none;
}

#myReferences {
  display: none;
}

#myAbout {
  display: none;
}

#myContact {
  display: none;
}

/* footer icons */

.footer img {
  object-fit: none;
  object-position: 0 0;
  width: 60px;
  height: 50px;
}

.footer .linkedin {
  object-position: -4px -147px;
}

.footer .github {
  object-position: -288px -147px;
}

.footer .email {
  object-position: -359px -147px;
}


/* footer */

.footer {
  height: 12%;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
  margin-top: 10px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  justify-content: center;
  justify-items: center;
  grid-row: end;
}

.footer p {
  color: var(--color-headers);
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}




/* Home Section */

.home-position {
  position: relative;
  margin-top: 300px;
}

/* Experience Section */

.experience {
  margin-bottom: 100px;
}

.experience-grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  height: min-content;
  margin-left: 20px;
}

.experience-image {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  grid-row: 1 / span 2;
}

.experience-text {
  grid-column: 2;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  margin-left: 20px;
}

.skill-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.soft-skills-grid {
  display: grid;
  grid-template-columns: 250px 250px;
  margin-left: 20px;
}

.experience a {
  margin-left: 20px;
}

/* Project Section */

.projects {
  margin-bottom: 100px;
}

.project-card {
  width: 100%;
  min-width: min-content;
  max-width: 720px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  column-gap: 10px;
  padding: 5px;
  margin-bottom: 50px;
  /* border: 1px;
  border-style: solid;
  border-color: var(--color-headers);
  border-radius: 10px; */
}

.project-text {
  margin-left: 20px;
  margin-right: 20px;
}

.project-image {
  width: 100%;
  height: auto;
}

.project-image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

/* .project-text {
  grid-column: 2;
  align-self: center;
  /* margin-top: auto;
  margin-bottom: auto; */
/* } */

.projects h3 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Reference Section */

.references {
  margin-bottom: 100px;
}

.references h4 {
  margin-top: -20px;
  /* margin-left: 5px; */
}

.references p {
  margin-left: 20px;
  margin-right: 20px;
}

.closer-lines-20 {
  margin-top: -20px;
}

.closer-lines-5 {
  margin-top: -5px;
}

/* About Section */

.about {
  margin-bottom: 100px;
}

/* Contact Section */

.contact {
  margin-bottom: 100px;
}